<!DOCTYPE html>

{% extends "quizzapp/base.html" %}
{% load static %}

{% block content %}
    <div id="popup" class="modal fade hide" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Answer</p>
                </div>
                <div class="modal-body">
                    <p>The correct answer is : {{ answer }}</p>
                    <p>{{ answer_definition }}</p>
                    <div id="myDIV">
                        <p>1.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()" value="Next question"></input>
                </div>
            </div>
        </div>
    </div>
    <br><br>{% for image in images %}
        <img src="{% static image %}" width="350" height="350" alt="Try">
    {% endfor %}<br><br>
    <p>{{ question }}</p><br>
    {% for answer in answers %}
        <button type="button" class="bigbutton" data-toggle="modal" data-target="#popup" id="result">{{ answer.answer }}</button>
    {% endfor %}<br><br><br>
{% endblock %}